h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

a {
    color: #5567A4; 
}

a:hover {
    color: #000; 
}

.footer-link {
    color: #FFF;
}

.products {
    width: 40%;
    height: 40%;
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main, .products-text {
    text-align: center;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #5567A4; 
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #777; 
}

.btn, .btn-large {
    background-color: #62BE48 !important; 
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #5567A4 !important; 
}

.test {
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bestSellers, .awards {
    background-color: #F8F8F8;
    padding: 5px;
}

.input-field {
    margin-top: 0;
}

.input-field .btn {
    font-size: 10px;
    max-height: 25px;
}

.sign-up-here {
    margin-bottom: 0;
}

#email {
    width: 50%;
    height: 1rem;
}

i.right {
    margin-left: 0px;
    font-size: 15px;
}

.btn i {
    line-height: normal;
}
.product-image{
    height: 230px;
}

.award {
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    margin: 10px;
}

.award .btn {
    display: none;
    position: relative;
}

.award:hover {
    background-color: lightgray;
    opacity: .5;
}

.award:hover .btn {
    display: block;
    position:absolute;
    background-color: #8674ff;
}

.award-list {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.award-main {
    width: 100px;
    height: 100px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    margin: 10px;
    
}

.award-main:hover {
    opacity: .5;
    cursor: pointer;
}

.award-list-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.testimonials {
    margin-right: 10%;
}

.testimonials h4 {
    padding-left: 30px;
}


.fa-paper-plane {
    position: relative;
    bottom:5px;
}

.grid {
    margin-left: 10%;
    margin-right: 10%;   
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
    align-content: center;
    justify-content: center;
    margin-right: 0;
}

.grid h6 {
    float: right;
    font-weight: bold;
}

.grid h5 {
    font-style: italic;
}

.grid-item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
    
}
nav {
    background-image: url(./../../img/other/texturebackground7.jpg);
    background-position: center;
    background-size: 100%;
}

.parallax {
    background-position: center top;
}

.navbar-fixed.test {
    height: 100px;
}

.flex-row-products {
    display: flex;
    margin-top:50px;
    flex-wrap: wrap;
}

.flex-col-products {
    flex-grow: 1;
    flex-basis: 33%;
    
}

.products-card-horizontal{
    height:320px;
    width: 332px;
}

.main-flex-col-products {
    flex-grow: 1;
    flex-basis: 50%; 
}

.main-flex-row-products {
    display: flex;
    margin-top:50px;
    flex-wrap: wrap;
}

.main-products-card-horizontal{
    height:300px;
    width: 330px;
}

.main-flex-col-video {
    justify-content: center;
    flex-grow: 1;
    flex-basis: 100%; 
}

.dropdown-content.active {
    display: flex;
    flex-wrap: wrap;
}

.nav-children {
    width: 200px;
}

nav .brand-logo img {
    padding: 10px;
    height: 75px;
    width: auto;
}


.side-nav li {
    cursor: pointer;
}

.contact-form{
    width: 50%;
}

.collapsible{
    width:100%;
}

#sidenav-overlay {
    position: relative;
    background-color: rgba(0,0,0,0) !important;
    z-index: auto !important;
}

.readMore{
    color:cadetblue;
}

.productsGenre {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.award-list, .award-list-main, .bestSellers-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#headerTestimonial {
        padding-top: 30px;
    font-size: 50px;
  margin: auto;
    width: 50%;
    text-align: center;
}

.award-list-main {
    width: 75%;
    margin: 0 auto;
}

.main, .bestSellers, .awards, .awardTitle {
    text-align: center;
}

.parallax-container {
    height: 800px;
}

.products1 .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row .col.s5 {
    margin-left: 0;
}

footer, .page-footer {
    background-color: #5567A4 !important;
    margin-top: 0px !important;
}

.submitButton{
    text-align: center;
    margin: 0 auto;
}

#app > div > main > div > form > div > div.submitButton.waves-effect.waves-light.btn{
    width: 25%;
    display: block;    
}

.btn i {
    line-height: 36px;
}

.centerTitle{
    text-align: center;
}

.products1{
    width: 80%;
    margin: 0 auto;
}

.award:hover .btn {
    background-color: #5567A4;
}

#headingAwards {
    padding-top: 30px;
    font-size: 50px;
  margin: auto;
    width: 50%;
    text-align: center;
}





@media only screen and (min-width: 400px) {
    .grid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }


}

@media only screen and (min-width: 700px) {
    .grid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 900px) {
    .grid {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1100px) {
    .grid {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}


.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.carousel {
  position: relative;
  height: 350px !important;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left ;
       -o-transition: .6s ease-in-out left ;
          transition: .6s ease-in-out left ;
          transition-timing-function: ease-in;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
      display: block;
    margin-left: auto;
    margin-right: auto;
}




@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;
            transition-timing-function: ease-in;


    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid grey;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: grey;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 0;
  }
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}


.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}


.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}


.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
}


.fa-arrow-right, .fa-arrow-left {
    margin-top: 75%;
}


.fa-facebook-square {
    padding-right: 5px;
}


html{
    height: 100%;
}




#app {
    flex: 1 0 auto;
}




#sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 12%; 
    margin-right: 12%;
}


#sidebar h5 {
    font-size: 15px;
}


#scrollup {
    width: 50px; 
    position: fixed; 
    top: 92%;
    right: 0;
    padding-right: 20px;
}


  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }




footer {
    flex: 0 0 auto;
  }

.card-content {
    text-align: left;
}  

.searchBox{
    padding-top:10px;
    margin: auto;
    width: 50%;
    margin-top: 10px;
} 

#scrollup a {
    color: #62BE48 !important; 
}

#sidebar a {
    color: #5567A4 !important;
}

.grid-item a {
    color: #5567A4 !important;
}


@media(max-width: 800px){
    .contact-form{
        width: 100%;
    }

    .centerTitle {
        font-size: 3rem;
        text-align: left;
    }

    .row .col.s6 {
        width: 230px;
    }


    .flex-col-products, .main-flex-col-products {
        flex-grow: 1;
        flex-basis: 100%;
    }

    .btn{
        flex-basis: 48%;
        margin-bottom: 5px;
    }

    .award-list-main {
        width: 100%;
    }

    #app > div > main > div > div.bestSellers > div > div{
        flex-basis: 100%;
    }    
}

@media(min-width:800px){
    .categoryBtn{
        margin:5px;
    }
    
    .main-flex-row-products {
        max-width:600px;
        margin: 0 auto;
        margin-top: 50px
    }    
}

@media(min-width: 1200px){
    .flex-row-products {
        max-width:1100px;
        margin: 0 auto;
        margin-top: 50px
    }

    .main-flex-row-products {
        max-width:700px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .categoryBtn{
        margin:5px;
    }    
}

@media(max-width: 500px){
    
    .parallax-container {
        display: none;
    }

    .carousel.slide {
        max-height: 139px;
    }
    .carousel-indicators {
        display:none;
    }

    #scrollup {
        width: 32px; 
        position: fixed; 
        top: 92%;
        right: 0;
        font-size: .75rem;
        padding-right: 5px;
    }

    .fa-arrow-circle-o-up {
        font-size: 1.5rem;
    }
}

@media(max-width: 750px){
    .genreCol {
        width: 70px;
    }

    #sidebar .line {
        display:none;
    } 
}
